# .env.example
MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.fddwssf.mongodb.net/hustcord?retryWrites=true&w=majority&appName=Cluster0
# Tạo file .env có nội dung như file .env.example nhưng thay tên/pass
